@use "src/styles/constants";

.calendar {
    position: relative;

    &__header {
        width: 200px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main {
        width: 100%;
        border-radius: 4px;

        &__swipe-month-button {
            margin-top: 40px;
            width: 36px;
            height: 120px;
            border: 0;
            background: #E9ECEF;
            border-radius: 100px;
            color: rgba(0,0,0,0.43);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }

        &__wrapper {
            width: 572px; // For % working
            background: #ffffff;
            box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
            border-radius: 4px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            position: absolute;
        }

        &__week-day {
            color: constants.$normal-text-color;
            font-weight: bold;
            vertical-align: middle;
            text-align: center;
            height: 36px;
            text-decoration: underline;
        }
    }

    table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
    }

    .swap-button {
        @include constants.default-icon;
    }

    .selected-date-block {
        font-size: 15px;
        font-weight: bold;
        color: constants.$hover-text-color;
        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        user-select: none;

        div:hover {
            color: constants.$pressed-text-color;
        }
    }

    .day {
        padding: 4px 8px;
        vertical-align: middle;
        text-align: center;
        border: 2px solid transparent;
    }

    .day:hover {
        background: #d5dfe9;
        cursor: pointer;
    }

    .day.selected {
        border: 2px solid dodgerblue;
    }

    .day.today {
        background-color: dodgerblue;
        color: white;
    }

    .day.other {
        color: darkgray;
    }

    .day.today:hover {
        background-color: #0081ff;
    }

    .day.today.selected {
        border: 2px solid lightgray;
    }
}
