.calendar {
    header {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    header button,
    header select {
        margin: 0 4px;
    }

    table {
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
        margin: auto;
    }

    th {
        vertical-align: middle;
        text-align: center;
        height: 36px;
    }

    .day {
        padding: 4px 8px;
        vertical-align: middle;
        text-align: center;
        border: 2px solid transparent;
    }

    .day:hover {
        background-color: #eaeaea;
        cursor: pointer;
    }

    .day.selected {
        border: 2px solid dodgerblue;
    }

    .day.today {
        background-color: dodgerblue;
        color: white;
    }

    .day.other {
        color: darkgray;
    }

    .day.today:hover {
        background-color: #0081ff;
    }

    .day.today.selected {
        border: 2px solid lightgray;
    }
}
